.information {
    text-align: center;

    p,span {
        font-size: 1.5rem;
    }
    
    span {
        font-weight: bold;
    }

    .logoAbout {
        width: 60%;
    }
}

@import './media.scss';