.information {
    text-align: center;

    p,span {
        font-size: 1.5rem;
    }
    
    span {
        font-weight: bold;
    }

    .logoAbout {
        width: 60%;
    }
}

@media screen and (max-width: 1100px){
    .information{
        .logoAbout {
            width: 70%;
        }
    }


}

@media screen and (max-width: 650px){

    .information{
        .logoAbout {
            width: 100%;
        }
    }
}