
[data-class="editable"]{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 800px;
    border: 1px solid black;
}

.headerBuild {
    text-align: center;
    font-size: 10vw;
    color: red;
}
