.projectsList__list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;

    display: grid;
    grid-template-columns: repeat(4, 20vw);
    text-align: center;

    .item {
        flex: 0 0 20vw;
        // cursor: pointer;
        height: 20vh;
        border: 1px solid red;
        margin: 5px;
        background-color: whitesmoke;

        .projectController {
            input {
                margin: 5px;
            }

            .projectControllerButton_enter {

                border: 2px solid rgb(4, 255, 4);
                font-weight: bold;
                color: white;
                padding: 7px;
                background-color: rgb(21, 23, 143);
                border-radius: 10px;
                transition: .3s linear;
            }

            .projectControllerButton_enter:hover {
                background-color: rgb(82, 84, 202);
            }


            .projectControllerButton_delete {

                border: 2px solid rgb(5, 0, 0);
                font-weight: bold;
                color: white;
                padding: 7px;
                background-color: rgb(167, 42, 26);
                border-radius: 10px;
                transition: .3s linear;
            }

            .projectControllerButton_delete:hover {
                background-color: rgb(221, 58, 36);
            }
        }

        .ProjectName {
            font-size: 2rem;
            color: red;
            margin: 0;
        }

        .ProjectType {
            font-size: 1.1rem;
            font-weight: bold;
        }

        .productionButton {
            border: 2px solid rgb(25, 255, 205);
            font-weight: bold;
            color: white;
            padding: 7px;
            background-color: rgb(21, 23, 143);
            border-radius: 10px;
            transition: .3s linear;
        }

        .productionButton:hover{
            background-color: rgb(82, 84, 202);
        }

        input:active{
            transform: scale(1.04);
        }
    }
}

@import './media.scss';