.projectsList__list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;

    display: grid;
    grid-template-columns: repeat(4, 20vw);
    text-align: center;

    .item {
        flex: 0 0 20vw;
        // cursor: pointer;
        height: 20vh;
        border: 1px solid red;
        margin: 5px;
        background-color: whitesmoke;

        .projectController {
            input {
                margin: 5px;
            }

            .projectControllerButton_enter {

                border: 1px solid rgb(118, 233, 166);
                font-weight: bold;
                color: white;
                padding: 5px;
                background-color: rgb(9, 172, 23);
                border-radius: 10px;
                transition: .3s linear;
            }

            .projectControllerButton_enter:hover {
                border: 1px solid rgb(2, 75, 8);
                background-color: rgb(56, 121, 47);
            }

            .projectControllerButton_delete {

                border: 1px solid rgb(73, 1, 11);
                font-weight: bold;
                color: white;
                padding: 5px;
                background-color: rgb(241, 48, 34);
                border-radius: 10px;
                transition: .3s linear;
            }

            .projectControllerButton_delete:hover {
                border: 1px solid rgb(2, 75, 8);
                background-color: rgb(167, 42, 26);
            }
        }

        .ProjectName {
            font-size: 2rem;
            color: red;
            margin: 0;
        }

        .ProjectType {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}


@media screen and (max-width: 850px){

    .projectsList__list {

        grid-template-columns: repeat(3, 25vw);
    }
    .item {
        flex: 0 0 25vw;
    }
}

@media screen and (max-width: 650px){

    .projectsList__list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        flex: 0 0 50%;
    }
}


@media screen and (max-width: 450px){

    .projectsList__list .item {
        height: 30vh;
    }

    .projectsList__list {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .item {
        flex: 0 0 100%;
    }
}