[data-textcomponent]{

    .resizeDoted{
        position: absolute;
        width: 12px;
        left: 97%;
        bottom: -2%;
        height: 12px;
        border-radius: 11px;
        background: red;
    }
}

.resize{
    position: absolute;
    background: red;
    width: 20px;
    bottom: 0px;
    left: 94%;
    height: 20px;
}

[data-textcomponent]:hover{
    border: 1px solid red;
    cursor: move;
}
[data-imagecomponent]{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}
[data-imagecomponentwrapper]:hover{
    border: 1px solid red;
    box-sizing: border-box;
}
