
.LoginPage {

    z-index: -1;
    h1 {
        color: green;
    }
    .LoginPage__LoginBox {
        height: 350px;
        display: flex;
        background-color: lightcyan;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 5px;
        width: 40%;
        z-index: 100;

        .LoginBox__LoginForm {

            display: flex;
            flex-direction: column;
            width: 50%;

            .LoginBox__LoginForm__loader{
                width: 20px;
                align-self: center;
            }

            h3 {
                margin: 0;
                text-align: center;
                color: rgb(17, 145, 17);
            }
            p {
                text-align: center;
                font-weight: bold;
                margin: 5px;
            }
            .LoginForm__loginButton {
                cursor: pointer;
                width: 100%;
                border: 1px solid rgb(145, 116, 116);
                border-radius: 20px;
                height: 30px;
                font-weight: bold;
                background: rgb(5, 122, 5);
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                color: white;
                transition: .3s all linear;

            }

            .LoginForm__loginButton:hover {
                background: lightgreen;
                color: red;
            }

            .selected {
                color: red;
                background-color: lightgreen;
            }

            .error {
                color: red;
            }
        }
    }
}

input[type='text'], input[type='password']{
    background-color: white;
    box-shadow:  0 0 3px;
    border-radius: 10px;
}


[draggable="true"] { 
    -moz-user-select:none; 
    -webkit-user-select: none; 
    -webkit-user-drag: element; 
    cursor: move;
}

[data-titlebuild]:after{
    content: '|'
}

.RegAnim-enter {
    opacity: 0;
    transform: scale(0.9);
}

.RegAnim-enter.RegAnim-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }

  .RegAnim-exit {
    opacity: 1;
  }

  .RegAnim-exit.RegAnim-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

@import './media.scss';