@media screen and (max-width: 760px){
    .LoginPage {
        .LoginPage__LoginBox {
            width: 90%;
            height: 100%;

        }
    }
    .loaderBox .loader {
        width: 75%;
    }
}