.ComponentsMenu{
    border: 1px solid black;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 0 0 5px;    
    transform: translate(-40%);
    width: 400px;
    height: 100px;
    
    span {
        display: block;
        font-weight: bold;
    }

    .CompoentnsMenu_button {
        position: absolute;
        cursor: pointer;
        box-shadow: 0 0 3px;
        transform: translate(-50%);
        width: 60px;
        background-color: #FFFF;
        border: 1px solid black;
        border-radius: 5px;
        transition: 0.2s linear;
        outline: none;
        box-sizing: content-box;
    }

    .CompoentnsMenu_button:active:not([disabled]) {
        border: 2px solid black;
    }

    .CompoentnsMenu_button:disabled {
        opacity: .5;
    }

    .CompoentnsMenu_button:before{
        content: '';
        background-size: 30px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }
}


.sectionMode {
    position: fixed;
    border: 1px solid black;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    transform: translate(-50%,-50%);
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 93%;
    left: 50%;
    width: 10vw;
    height: 10vh;
    z-index: 999999;
    span {
        display: block;
        font-weight: bold;
    }

    .CompoentnsMenu_button:active:not([disabled]) {
        border: 2px solid black;
    }

    .CompoentnsMenu_button:before{
        content: '';
        background-size: 30px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }

    .CompoentnsMenu_button {
        cursor: pointer;
        box-shadow: 0 0 3px;
        width: 60px;
        height: 72px;
        margin: 10px;
        background-color: #FFFF;
        border: 1px solid black;
        border-radius: 5px;
        transition: 0.2s linear;
        outline: none;
        box-sizing: content-box;
    }
}

.ImageTool {
    top: 20%;
    left: 20%;
}

.TextTool {
    top: 20%;
    left: 40%;
}

.ButtonTool {
    top: 20%;
    left: 60%;
}

.VideoTool {
    top: 20%;
    left: 80%;
}

.ButtonTool:before{
    background-image: url('/img/ButtonTool.png');
    content: '';
}

.VideoTool:before{
    background-image: url('/img/VideoTool.png');
    content: '';
}

.TextTool:before{
    background-image: url('/img/TextTool.png');
    content: '';
}

.ImageTool:before{
    background-image: url('/img/ImageTool.png');
    content:"";
}

.newSectionTool:before{
    background-image: url("/img/newSectionIcon.svg");
    content:"";
}