


header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid grey;

    .header__CabinetInfo{

        h3 {
            display: inline-block;
            color: grey;
        }
        img[alt='icon']{
            transform: translate(0,30%);
            width: 45px;
            height: 45px;
        }
    }

    .Navigator {
        display: flex;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%);
        cursor: pointer;

        img[alt='icon']{
            margin-right: 5px;
            transform: translate(0,30%);
            width: 45px;
            height: 45px;
            transition: 0.3s linear;
        } 
        img[alt='icon']:hover {
            transform: translate(0,30%) scale(1.1);
        }
    }


    .header__newProject__AddButton {

        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid black;
        background: lightblue;
        cursor: pointer;
        transition: 0.3s linear;

        img {
            width: inherit;
        }
    }

    .header__newProject__AddButton:hover {
        transform: translate(-50%) scale(1.1);
        background: greenyellow;
    }
}