@media screen and (max-width: 780px){
    header .Navigator {
    transform: translate(-80%);
    }
}


@media screen and (max-width: 500px){

        header .header__CabinetInfo h3 {
            display: none;
        }
        header .Navigator {
            top: 0;
            left: 98%;
        }
}