.Viewer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
    height: 100%;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    iframe {
        width: 60%;
        height: 70%;
    }

    .selected {
        border: 1px solid red;
    }
}

@import './media.scss';