@media screen and (max-width: 1000px){

    .switchContainer{
        flex-direction: column;

        .switchContainer__controllers{
            flex: 0 0 10%;
        }

        .guide_list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            columns: 5;
            padding-left: 5px;
            border-right: 0;
            border-bottom: 5px dotted grey;

            li{
                padding: 5px;
                .switch__button {
                    height: 50px;
                    padding: 0;
                    white-space: normal;
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    .switchContainer {
        width: 100%;
        height: 60vh;
        .switchContainer__controllers{
            width: 100%;
            position: relative;
            background: grey;
            height: 40px;
            transition: all .3s ease-in-out;
        }

        .guide_list {
                flex-direction: column;
                visibility: hidden;
                overflow: hidden;
                position: absolute;
        }

        .switchContainer__menu{
            width: 40px;
            padding-top: 1px;
            height: 28px;
            margin: 0 auto;
            display: block;
        }

        .switchContainer__controllers:hover,
        .switchContainer__controllers:active,
        .switchContainer__controllers:focus{
            position: absolute;
            height: 50%;
                ul.guide_list.list {
                    padding: 0;
                    visibility: visible;
                    padding-left: 5px;
                    width: 95%;
                    left: 3%;
                    position: absolute;
    
                    li {
                        .switch__button {
                            height: 40px;
                            padding: 5px;
                        }
                    }
                }
            .switchContainer__menu {
                width: 40px;
                display: none;
            }
        }
    }
}
