$bgColor: #35414c;
$closeSize: 25px;

.instumentsPanel {
    position: fixed;
    z-index: 99;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 100%;
    width: 20%;
    height: 80%;
    overflow: hidden;
    background-color: $bgColor;


    h3 {
        font-size: 1.5rem;
        text-align: center;
        color: white;
    }

    .titleInstument {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }


    .warningInstruments, .TextComponent {
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .TextComponent:after {
        content: '';
        display: block;
        padding: 5px;
        border-bottom: 1px solid whitesmoke;
    }

    .instuments {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_bg {
            font-weight:  bold;
        }
        input{
            transition: .3s linear;
        }
        input[type = 'text'],[type="number"] {
            border: 1px solid  rgb(0, 241, 121);
        }

        .saveButtonInstument, .button_switch, .ImageSearchButton {
            border: 1px solid rgb(0, 241, 121);
            border-radius: 10px;
            padding: 5px;
            font-weight: bold;
            color: white;
            background-color: rgb(13, 110, 62);
        }


        .saveButtonInstument {
            background-color: rgb(52, 90, 69);
        }
        .saveButtonInstument, .ImageSearchButton {
            margin-top: 20px;
        }

        .saveButtonInstument:hover, 
        .button_switchColor:hover, 
        .ImageSearchButton:hover{
            background-color: rgb(83, 190, 137);
            border: 1px solid  rgb(0, 39, 19);
        }
    }

    .closeInstrumentsPanel {
        cursor: pointer;
        position: absolute;
        overflow: hidden;
        width: $closeSize;
        height: $closeSize;
        box-sizing: content-box;
        padding: 0;
        border: 1px solod black;
        outline: none;
        border: 0;
        background-color: $bgColor;
        border-radius: 15px;
        top: 2%;
        left: 90%;

        img {
            width: $closeSize;
            height: $closeSize;
        }
    }

    .closeInstrumentsPanel:active {
        transform: scale(1.1);
    }

    .button_switchColor {

        font-weight: bold;
    }

    .titleInstrument__opacity {
        margin-bottom: 0;
    }
}

span.textCoordsPanel {
    color: rgb(235, 32, 32);
}
