.instumentsPanel {
    position: fixed;
    z-index: 999;
    transform: translate(-50%);
    left: 89%;
    width: 20%;
    height: 100%;
    overflow: hidden;
    background-color: #35414c;

    h3 {
        font-size: 1.5rem;
        text-align: center;
        color: white;
    }


    .warningInstruments, .titleComponent {
        font-size: 1rem;
        color: white;
        text-align: center;
    }

    .instuments {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_bg {
            font-weight:  bold;
        }
    }

    .closeInstrumentsPanel {
        outline: none;
        position: absolute;
        overflow: hidden;
        width: 50px;
        box-sizing: content-box;
        height: 50px;
        padding: 0;
        border-radius: 15px;
        top: 50%;
        left: 5px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}