$bgColor: #35414c;
$closeSize: 25px;

.instumentsPanel {
    position: fixed;
    z-index: 999;
    transform: translate(-50%);
    left: 89%;
    width: 20%;
    height: 100%;
    overflow: hidden;
    background-color: $bgColor;

    h3 {
        font-size: 1.5rem;
        text-align: center;
        color: white;
    }

    .titleInstument {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }


    .warningInstruments, .titleComponent {
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .titleComponent:after {
        content: '';
        display: block;
        padding: 5px;
        border-bottom: 1px solid whitesmoke;
    }

    .instuments {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_bg {
            font-weight:  bold;
        }
    }

    .closeInstrumentsPanel {
        cursor: pointer;
        position: absolute;
        overflow: hidden;
        width: $closeSize;
        height: $closeSize;
        box-sizing: content-box;
        padding: 0;
        border: 1px solod black;
        outline: none;
        border: 0;
        background-color: $bgColor;
        border-radius: 15px;
        top: 2%;
        left: 90%;

        img {
            width: $closeSize;
            height: $closeSize;
        }
    }

    .closeInstrumentsPanel:active {
        transform: scale(1.1);
    }

    .button_switchColor {

        font-weight: bold;
    }
}