.Production{
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
}

[data-class="production"]{
    position: relative;
    cursor: auto;
    width: 100%;
    height: 800px;
    border: 1px solid black;

    .headerBuild {
        text-align: center;
        font-size: 10vw;
        color: red;
    }
}