
.Modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%);
    z-index: 999;
    left: 50%;
    width: 30%;
    height: 20rem;
    background-color: rgb(244, 247, 246);
    border: 1px solid black;
    box-shadow: 0 0 5px;
    border-radius: 10px;

    input, select {
        outline: none;
        margin: 5px;
        width: 50%;
    }

    ::placeholder, select {
        font-weight: bold;
        text-align: center;
    }

    .acceptButton {
        font-weight: bold;
    }

    .warning {
        font-weight: bold;
        color: red;
    }

    .ready {
        border: 2px solid green;
    }

    .wrong{
        border: 2px solid red;
    }

    input[type = 'button']{
        cursor: pointer;
        font-weight: bold;
        background-color: antiquewhite;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 0 3px;
        transition: .2s all linear;
        box-sizing: content-box;
    }
    input[type = 'button']:hover:not([disabled]){
        color: red;
    }
    input[type = 'button']:active:not([disabled]){
        box-shadow: 0 0 7px;
        border: 2px solid black;
    }
}

.ActionModalSearch {
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background: whitesmoke;
    border: 3px solid black;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    z-index: 99999;

    .actionModalSearch__view,
     .actionModalSearch__settings {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
        }
    }
}

.Modal-search {
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 60%;
    padding: 20px;

    input{
        cursor: pointer;
    }

    .error {
        font-weight: bold;
        color: red;
    }
    .searchResultBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 10rem;
        overflow-y: scroll;

        .ItemBox {
            text-align: center;
            overflow: hidden;
            padding: 5px;
            img {
                cursor: pointer;
                width: 100%;
            }
        }
    }

    .selected {
        border: 2px solid red;
    }
}

@import './media.scss';